<h1>Books</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name
        {{#if session.isAuthenticated}}
        <br><small class="small not-bold">(Click on title for editing)</small>
        {{/if}}
      </th>
      <th class="vtop">Author</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |book|}}
    <tr>
      <td>
        {{#if book.isEditing}}
        {{#if session.isAuthenticated}}
        <form {{action 'saveBook' book on='submit'}} class="form-inline">
          <div class="input-group">
            {{input value=book.title class="form-control"}}
            <div class="input-group-btn">
              <button type="submit" class="btn btn-success" disabled={{book.isNotValid}}>Save</button>
              <button class="btn btn-danger" {{action 'cancelBookEdit' book}}>Cancel</button>
            </div>
          </div>
        </form>
        {{/if}}
        {{else}}
        <span class="bookTitle" {{action 'editBook' book}}>{{book.title}}</span>
        {{/if}}
      </td>
      <td>{{book.author.name}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
